@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --font-primary: 'Montserrat', 'Book Antiqua', 'Times New Roman', serif;
}


html, body {
  font-family: var(--font-primary);
}


::-webkit-scrollbar {
  background-color: #ADB8BB;
  width: 10px;
  border-left: 2px solid #232A2F;
}

::-webkit-scrollbar-thumb {
  background-color: #232A2F;
}

::-webkit-scrollbar-track {
  background: transparent;
}